<div class="example-container">
    <mat-card>
        <form>
            <mat-form-field>
                <input matInput #input maxlength="30" placeholder="Enter Task" [(ngModel)]="val" name="task" />
                <mat-hint align="end">{{input.value?.length || 0}}/30</mat-hint>
            </mat-form-field>
            <button mat-raised-button color="primary" (click)="put()" type="submit">Add</button>
        </form>
        <button mat-raised-button color="warn" (click)="confirmation(-1, 'Claer All')" style="display: flex;" *ngIf="arr.length">Clear All</button>
    </mat-card>
</div>
<div class="example-container">
    <mat-card>
        <mat-accordion class="example-headers-align">
            <mat-expansion-panel *ngFor="let todo of arr; index as i" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{i + 1 + ")"}} &nbsp; {{todo[1].val}}
                    </mat-panel-title>
                    <mat-icon>edit</mat-icon>
                </mat-expansion-panel-header>
                <mat-form-field *ngIf="todo[1].edit;">
                    <input matInput [(ngModel)]="editedVal" autofocus placeholder="Edit your task" />
                    <mat-hint align="end">{{input.value?.length || 0}}/30</mat-hint>
                </mat-form-field>
                <mat-action-row>
                    <button mat-stroked-button color="primary" (click)="confirmation(i, 'Edit')" *ngIf="todo[1].edit">Add</button>
                    <button mat-raised-button (click)="edit(i)">{{ todo[1].edit ? 'Cancel' : 'Edit' }}</button>
                    <button mat-button color="warn" (click)="confirmation(i, 'Delete')" *ngIf="!todo[1].edit">Delete</button>
                </mat-action-row>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-card>
</div>